@charset "utf-8";

.header-outer {
    position: fixed;
    width: 100%;
    z-index: 9999;
    color: #fff;
    border-bottom: 0.6px solid #eee;
}
#header {
    position: relative;
    height: 55px;
}
#header .logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#header .nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}
#header .nav .depth1 > li {
    display: inline-block;
}
#header .nav .depth1 > li > a {
    display: inline-block;
    padding: 0 15px;
    font-size: 12px;
}